{{#section 'css'}}
    <!-- Favicon -->
    <link rel="icon" href="/book-shop/img/logo.png">
    <!-- Bundle -->
    <link rel="stylesheet" href="/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/css/wow.css">
    <link rel="stylesheet" href="/css/LineIcons.min.css">
    <!-- Mega Menu  -->
    <link rel="stylesheet" href="/css/megamenu.css">
    <!-- StyleSheet  -->
    <link rel="stylesheet" href="/book-shop/css/style.css">
    <!-- Custom Css  -->
    <link rel="stylesheet" href="/book-shop/css/custom.css">

    {{!-- Font awesome Bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
{{/section}}

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('/book-shop/img/banner1.3.jpg');">
</section>
<!--slider sec end-->

<!-- START HEADING SECTION -->
<div class="about_content">

    {{!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Get Ready For Checkout?</h1>
                <p class="para_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident consectetur adipisicing elit quam reiciendis voluptatum?</p>
            </div>
        </div>
    </div> --}}


    <!-- START SHOP CART SECTION -->
    <div class="shop-cart wow slideInUp" data-wow-duration="2s">
        <div class="container">
            {{#if this.itemExist}}
                {{!-- <b style="font-size: 120%;">No Item in Your Cart</b>
                <div class="col-6 text-left text-center">
                    <a class="btn green-color-yellow-gradient-btn w-50 py-3" href="/custom/products">GO SHOPPING</a>
                </div> --}}

                <div class="row pt-5">
                    <div class="col-12 col-md-12  cart_table wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="table-responsive">
                            <table class="table table-bordered border-radius">
                                <thead>
                                <tr>
                                    <th class="darkcolor">Product</th>
                                    <th class="darkcolor">Price</th>
                                    <th class="darkcolor">Quantity</th>
                                    <th class="darkcolor">Total</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-12 wow slideInRight" data-wow-duration="2s">
                        <div class="card-total">
                            <p style="font-size: 180%;" class="text-center"><b><i>No Item in Your Cart</i></b></p>
                            <div class="col-12 text-left text-center">
                                <a class="btn green-color-yellow-gradient-btn w-50 py-3" href="/custom/products">GO SHOPPING <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <!-- START SHOP CART TABLE -->
                <div class="row pt-5">
                    <div class="col-12 col-md-12  cart_table wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="table-responsive">
                            <table class="table table-bordered border-radius">
                                <thead>
                                <tr>
                                    <th class="darkcolor">Product</th>
                                    <th class="darkcolor">Price</th>
                                    <th class="darkcolor">Quantity</th>
                                    <th class="darkcolor">Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each this.cartList}}
                                    <tr>
                                        <td>
                                            <div class="d-table product-detail-cart w-100">

                                                <div class="">
                                                    <div class="row no-gutters">

                                                        <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="#"><img src="/imgProducts/{{SKU}}.jpg" alt="Generic placeholder image"></a>
                                                        </div>

                                                        <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                            <div class="media-body ml-lg-3">
                                                                <h4 class="product-name"><a href="/custom/detail?SKU={{SKU}}">{{title}}</a></h4>
                                                                <p class="product-des">We offer the most complete in the country</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="text-center amount">${{sellPrice}}</h4>
                                        </td>
                                        <td class="text-center">
                                            <div class="quote text-center mt-1">
                                                <h4 class="text-center amount">{{quantity}}</h4>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="text-center amount">${{totalPrice}}</h4>
                                        </td>
                                        <td class="text-center">
                                            <form action="delCartItem?cartId={{cartId}}" method="post">
                                                <button type="button" class="btn" id="delCartItem" data-toggle="modal" data-target="#data{{cartId}}">
                                                    {{!-- <i class="lni-trash"></i> --}}
                                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                                </button>

                                                {{!-- <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                Launch demo modal
                                                </button> --}}

                                                <!-- Modal -->
                                                <div class="modal fade" id="data{{cartId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Item ?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure to remove <b><i>{{title}}</i></b> from the shopping cart ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-outline-danger">Accept</button>
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {{/each}}
                                {{!-- <tr>
                                    <td>
                                        <div class="d-table product-detail-cart">

                                            <div class="media">
                                                <div class="row no-gutters">

                                                    <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="#"><img src="/book-shop/img/shopcart-2.jpg" alt="Generic placeholder image"></a>
                                                    </div>

                                                    <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                        <div class="media-body ml-lg-3">
                                                            <h4 class="product-name"><a href="#">The Last Stand</a></h4>
                                                            <p class="product-des">We offer the most complete in the country</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center d-table-price amount">$100.00</h4>
                                    </td>
                                    <td class="text-center">
                                        <div class="quote text-center mt-1">
                                            <input type="number" placeholder="1" class="quote" min="1" max="100">
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$106.00</h4>
                                    </td>
                                    <td class="text-center"><a class="btn-close" href="#"><i class="lni-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-table product-detail-cart">

                                            <div class="media">
                                                <div class="row no-gutters">

                                                    <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="#"><img src="/book-shop/img/shopcart-1.jpg" alt="Generic placeholder image"></a>
                                                    </div>

                                                    <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                        <div class="media-body ml-lg-3">
                                                            <h4 class="product-name"><a href="#">The Road</a></h4>
                                                            <p class="product-des">We offer the most complete in the country</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center d-table-price amount">$150.00</h4>
                                    </td>
                                    <td class="text-center">
                                        <div class="quote text-center mt-1">
                                            <input type="number" placeholder="1" class="quote" min="1" max="100">
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$150.00</h4>
                                    </td>
                                    <td class="text-center"><a class="btn-close" href="#"><i class="lni-trash"></i></a></td>
                                </tr> --}}
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="apply_coupon">
                            <form action="cart" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                                        <div class="card-total">
                                            <div class="form-group">
                                            <label style="font-size: 120%;" for="phone">Phone Number <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="phone" id="" placeholder="Phone Number" value="{{this.userData.phone}}" required>
                                            </div>
                                            <div class="form-group">
                                            <label style="font-size: 120%;" for="address">Address <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="address" id="" placeholder="Address" value="{{this.userData.address}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                                        <div class="card-total">
                                            <h4 class="heading text-center text-danger">Cart Total</h4>
                                            <table>
                                                {{!-- <tr>
                                                    <td><label style="font-size: 150%;" for="">Sub Total</label></td>
                                                    <td><h4 class="text-center amount">${{this.sumPrice}}</h4></td>
                                                </tr> --}}
                                                <tr>
                                                    <td><label style="font-size: 150%;" for="">Payments</label></td>
                                                    <td>
                                                        <ul class="color-grey">
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" id="flat-rate" name="shipping" class="custom-control-input" checked="">
                                                                    <label style="font-size: 120%;" class="custom-control-label pl-4" for="flat-rate"><i style="color: ;" class="fa fa-cc-visa" aria-hidden="true"></i>  VISA</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                                    <label style="font-size: 120%;" class="custom-control-label pl-4" for="free-shipping"><i style="color: blue;" class="fa fa-paypal" aria-hidden="true"></i>   Paypal</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" id="cod-shipping" name="shipping" class="custom-control-input">
                                                                    <label style="font-size: 120%;" class="custom-control-label pl-4" for="cod-shipping"><i style="color: green;" class="fa fa-money" aria-hidden="true"></i> Cash on Delivery - COD</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label style="font-size: 150%;" for="">Total</label></td>
                                                    <td><h4 class="text-center amount">${{this.sumPrice}}</h4></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="hidden" name="sumPrice" value="{{this.sumPrice}}">
                                    </div>
                                    <div class="col-6 text-left text-center">
                                        <button type="submit" class="btn green-color-yellow-gradient-btn w-50 py-3">CHECKOUT</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/if}}
            <!-- END SHOP CART TABLE -->

            <!-- START SHOP CART CHECKOUT FORM -->
            
            <!-- END SHOP CART CHECKOUT FORM -->

        </div>
    </div>
    <!-- END SHOP CART SECTION-->

</div>
<!-- END HEADING SECTION -->

{{#section 'js'}}
    <!-- JavaScript -->
    <script src="/js/bundle.min.js"></script>
    <!-- Plugin Js -->
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.cubeportfolio.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/bootstrap-input-spinner.js"></script>
    <script src="/js/parallaxie.min.js"></script>
    <!-- Custom Script -->
    <script src="/js/script.js"></script>
{{/section}}
